@import './variables.css';

.chat {
    background-color: var(--colorPrimary);
    width: 77vw;    
    margin: 0 5px;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 1px lightgrey;
}