@import './variables.css';

.list {
    display: flex;
    flex-direction: column;
    height: 900px;
}

.convbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.convbar img {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.no_conv {
    display: flex;
    width: 400px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.conv_list {
    display: inline-block;
    overflow-y: scroll;
    flex-grow: 1;
}