@import '../../../styles/variables.css';

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    font-size: 16px;
    padding: 1rem;
    border: 2px solid var(--color-placeholder);
    border-radius: 8px;
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-onPrimary);
    transition: .3s ease;
}
   
.input::placeholder {
    color: var(--color-placeholder);
    font-size: 16px;
}
   
.input:focus, input:hover {
    outline: none;
    border-color: var(--color-secondary);
    background-color: var(--color-primary);
}
